<o-form-layout-manager attr="Mission" mode="tab" title="MISSION">
    <div fxFill fxLayout="column" fxLayoutAlign="start">
        <o-table 
            attr="MissionTable" 
            service="Mission" 
            entity="Mission" 
            title="MISSION"
            keys="id"
            columns="name;spacecraft_id;description;scheduled_launch_date;duration_days;mission_status;id" 
            header-actions="R;D"
            visible-columns="name;spacecraft_id;description;scheduled_launch_date;duration_days;mission_status;id"  
            sort-columns="name" 
            query-rows="20" 
            quick-filter="yes"
            row-height="medium" 
            select-all-checkbox="true" 
            pageable="yes"  
            auto-adjust="true" 
            virtual-scroll="yes" 
            edition-mode="dblclick"
            horizontal-scroll="yes"
            show-title="yes"
            export-button="yes">
            
            <o-table-column #name attr="name" title=" name*" editable="no" required="yes" content-align="left"></o-table-column>
            
            <o-table-column attr="spacecraft_id" title="spacecraft_id">
    <o-table-cell-renderer-service attr="spacecraft_id" 
        service="Spacecraft" entity="SpacecraftType" columns="id;name"
        parent-keys="id:spacecraft_id"
        value-column="name" keys="spacecraft_id"
        visible-columns="name" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
            
            <o-table-column #description attr="description" title="description" editable="no" required="no" content-align="left"></o-table-column>
            
            <o-date-input #scheduled_launch_date attr="scheduled_launch_date" type="timestamp" label="scheduled_launch_date" editable="no" required="no" format="LL" fxFlex="20%" class="form-field"></o-date-input>
            
            <o-table-column #duration_days attr="duration_days" title="duration_days" type="integer" editable="no" required="no" content-align="center"></o-table-column>
            
            <o-table-column #mission_status attr="mission_status" title="mission_status" editable="no" required="no" content-align="left"></o-table-column>
            
            <o-table-column #id attr="id" title="id" type="integer" editable="no" required="no" content-align="center"></o-table-column>
            
            <o-table-context-menu></o-table-context-menu>
            <o-table-paginator page-size-options="24;48;96"></o-table-paginator>
        </o-table>
    </div>
</o-form-layout-manager>